input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
}

select {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 10px;
}

.container {
    display: contents;
}

.row {
    justify-content: space-between;
    margin: 0px;
}

.pagination {
    font-size: 14px;
    padding-left: 0;
    margin-top: 2rem;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

[role=button] {
    cursor: pointer;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0275d8;
    border-color: #0275d8;
}

.table th {
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .table thead {
      background-color: darkgrey;
  }
  .table .empty-cell {
    font-style: italic;
    color: darkgray;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .sort-icon:after {
    margin-left: 1rem;
    color: #58585a;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .sort-icon.sort-ascending:after  { content: '\f0de'; }
  .sort-icon.sort-descending:after { content: '\f0dd'; }
  .sort-icon.sort-none:after  { content: '\f0dc'; }
